{% extends 'base.html' %} {% block content %}

<!--LOGOUT button on top of ADMIN forms-->
<button id="top-page" type="button" class="btn waves-effect waves-light">
    <a href ="{{ url_for('logout') }}">
        Log Out
    </a>
</button>


<h2>{{ page_title }} (Logged in as: {{username}})</h2>

    <!--form to add new RECIPE-->
    <div class="row">
        <div class="col-12">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header recipe_thumb">
                        <i class="material-icons">note_add</i> Add a new Recipe
                    </div>
                    <div class="collapsible-body">
                        <span>
                                <div class="row">
                                    
                                    <!--Add all form data to database through 'insert_recipe' route-->
                                    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
                                        
                                        <!--Recipe name field-->    
                                        <h5>Recipe Name:</h5>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">outdoor_grill</i>
                                            <input id="recipe_name" name="recipe_name" type="text" class="validate" required data-validation-required-message="Please enter recipe name.">
                                            <label for="icon_prefix">Recipe Name</label>
                                        </div>
                                        
                                        <!--Combo box for list of CATEGORIES-->
                                        <h5>Choose a Category:</h5>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">photo_filter</i>
                                            <select id="recipe_type" name="recipe_type">
                                                <option value="" disabled selected>Recipe Type</option>
                                                                
                                                {% for cat in categories %}
                                                    <option value="{{cat.category_name}}" required data-validation-required-message="Please choose a Category.">{{cat.category_name}}</option>
                                                {% endfor %}
                                                                                
                                            </select>
                                        </div>
                                        
                                        <!--Combo box for list of IMAGES-->
                                        <h5>Upload a Image:</h5>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">photo_filter</i>
                                            <select id="recipe_image" name="recipe_image">
                                                <option value="" disabled selected>Recipe Image</option>
                                                                
                                                {% for image in images %}
                                                    <option value="{{image.recipe_image}}">{{image.recipe_image}}</option>
                                                {% endfor %}
                                                                                
                                            </select>
                                        </div>
                                        
                                        <!--Combo box for list of CUISINES-->
                                        <h5>Choose a Cuisine:</h5>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">photo_filter</i>
                                            <select id="recipe_cuisine" name="recipe_cuisine">
                                                <option value="" disabled selected>Recipe Type</option>
                                                                
                                                {% for cuisine in cuisines %}
                                                    <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
                                                {% endfor %}
                                                                                
                                            </select>
                                        </div>
                                        
                                        <!--List of Ingredients Input fields (9 input fields)-->
                                        <h5>Add Ingredient(s):</h5>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">ballot</i>
                                            <input id="ingredient_1" name="ingredient_1" type="text" class="validate">
                                            <label for="icon_prefix">Ingredient(1)</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">ballot</i>
                                            <input id="ingredient_2" name="ingredient_2" type="text" class="validate">
                                            <label for="icon_prefix">Ingredient(2)</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">ballot</i>
                                            <input id="ingredient_3" name="ingredient_3" type="text" class="validate">
                                            <label for="icon_prefix">Ingredient(3)</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">ballot</i>
                                            <input id="ingredient_4" name="ingredient_4" type="text" class="validate">
                                            <label for="icon_prefix">Ingredient(4)</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">ballot</i>
                                            <input id="ingredient_5" name="ingredient_5" type="text" class="validate">
                                            <label for="icon_prefix">Ingredient(5)</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">ballot</i>
                                            <input id="ingredient_6" name="ingredient_6" type="text" class="validate">
                                            <label for="icon_prefix">Ingredient(6)</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">ballot</i>
                                            <input id="ingredient_7" name="ingredient_7" type="text" class="validate">
                                            <label for="icon_prefix">Ingredient(7)</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">ballot</i>
                                            <input id="ingredient_8" name="ingredient_8" type="text" class="validate">
                                            <label for="icon_prefix">Ingredient(8)</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">ballot</i>
                                            <input id="ingredient_9" name="ingredient_9" type="text" class="validate">
                                            <label for="icon_prefix">Ingredient(9)</label>
                                        </div>
                                        
                                        <!--List of methods Input fields (9 input fields)-->
                                        <h5>Add Method(s):</h5>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">restaurant</i>
                                            <input id="method_1" name="method_1" type="text" class="validate">
                                            <label for="icon_prefix">method(1)</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">restaurant</i>
                                            <input id="method_2" name="method_2" type="text" class="validate">
                                            <label for="icon_prefix">method(2)</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">restaurant</i>
                                            <input id="method_3" name="method_3" type="text" class="validate">
                                            <label for="icon_prefix">method(3)</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">restaurant</i>
                                            <input id="method_4" name="method_4" type="text" class="validate">
                                            <label for="icon_prefix">method(4)</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">restaurant</i>
                                            <input id="method_5" name="method_5" type="text" class="validate">
                                            <label for="icon_prefix">method(5)</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">restaurant</i>
                                            <input id="method_6" name="method_6" type="text" class="validate">
                                            <label for="icon_prefix">method(6)</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">restaurant</i>
                                            <input id="method_7" name="method_7" type="text" class="validate">
                                            <label for="icon_prefix">method(7)</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">restaurant</i>
                                            <input id="method_8" name="method_8" type="text" class="validate">
                                            <label for="icon_prefix">method(8)</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">restaurant</i>
                                            <input id="method_9" name="method_9" type="text" class="validate">
                                            <label for="icon_prefix">method(9)</label>
                                        </div>
                                        
                                        <!--A Date picker for Date of Recipe creation-->
                                        <h5>Choose a Date:</h5>
                                        <div id="matfix" class="input-field col s12">
                                            <i class="material-icons prefix">date_range</i>
                                            <input id="create_on" name="create_on" type="text" class="datepicker">
                                            <label for="icon_prefix">Date of Creation</label>
                                        </div>
                                        
                                        <!--Time input fields for preparation and cooking-->
                                        <h5>Provide time (mins):</h5>
                                        <div id="matfix" class="input-field col s12">
                                            <i class="material-icons prefix">access_time</i>
                                            <input id="prep_time" name="prep_time" type="number" class="validate"  required data-validation-required-message="Please enter preparation time.">
                                            <label for="icon_prefix">Preparation Time</label>
                                        </div>
                                        <div id="matfix" class="input-field col s12">
                                            <i class="material-icons prefix">access_time</i>
                                            <input id="cook_time" name="cook_time" type="number" class="validate" required data-validation-required-message="Please enter cooking time.">
                                            <label for="icon_prefix">Cooking Time</label>
                                        </div>
                                        
                                        <!--A button to input all above inserted data-->
                                        <div class="input-field col s12">
                                            <button class="btn waves-effect waves-light" type="submit" name="action">Add Recipe
                                                <i class="material-icons right">send</i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <!--form to add new RECIPE CATEGORY and CUISINE-->
    <div class="row">
        
        <!--form to add new RECIPE CATEGORY-->
        <div class="col-12 col-sm-6 col-xl-6 col-md-6">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header admin-category-thumb">
                        <i class="material-icons">note_add</i> Add a new Category
                    </div>
                    <div class="collapsible-body">
                        <span>
                            <div class="row">
                                <!--Add all form data to database through 'insert_category' route-->
                                <form action="{{ url_for('insert_category') }}" method="POST" class="col-12">
                                    <h5>Category Name:</h5>
                                    
                                    <!--Input field for Catagory-->
                                    <div class="input-field col-12">
                                        <i class="material-icons prefix">outdoor_grill</i>
                                        <input id="category_name" name="category_name" type="text" class="validate">
                                        <label for="icon_prefix">Category Name</label>
                                    </div>
                                    
                                    <!--Button for insert category into Database-->
                                    <div class="input-field col s12">
                                        <button class="btn waves-effect waves-light" type="submit" name="action">Add Category
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </form>
                            </div>  
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        
        <!--form to add new RECIPE CUISINE-->
        <div class="col-12 col-sm-6 col-xl-6 col-md-6">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header admin-cuisine-thumb">
                        <i class="material-icons">note_add</i> Add a new Cuisine
                    </div>
                    <div class="collapsible-body">
                        <span>
                        <div class="row">
                            <!--Add all form data to database through 'insert_cuisine' route-->
                            <form action="{{ url_for('insert_cuisine') }}" method="POST" class="col-12">
                                <h5>Cuisine Name:</h5>
                                
                                <!--Input field for Cuisine-->
                                <div class="input-field col-12">
                                    <i class="material-icons prefix">outdoor_grill</i>
                                    <input id="cuisine_name" name="cuisine_name" type="text" class="validate">
                                    <label for="icon_prefix">Cuisine Name</label>
                                </div>
                                
                                <!--Button for insert cuisine into Database-->
                                <div class="input-field col s12">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Add Cuisine
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </form>
                        </div>  
                    </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <h4>List of <span class="recipe-thumb">Recipes</span>
        <h6>(for Amendement click on RECIPE)</h6>
    </h4>

    <!--List of added recipes for Admin-->
    {% for recipe in recipes %}

        <ul class="collapsible">
            <li>
                
                <!--Recipe Name Field-->
                <div class="collapsible-header">
                    <div class="col-md-12">
                        <i class="material-icons recipe-thumb">
                            outdoor_grill
                        </i> {{recipe.recipe_name}}
                    </div>
                </div>
        
                <div class="collapsible-body">
                    <span>
                        <div class="col-md-12">
                            
                            <!--A Button to EDIT recipe through 'edit_recipe' route-->
                            <button type="button" class="btn btn-success">
                                <a href ="{{ url_for('edit_recipe', task_id=recipe._id) }}">Edit</a>
                            </button>
                            
                            <!--A Button to DELETE recipe through 'delete_recipe' route-->
                            <button type="button" class="btn btn-danger">
                                <a href ="{{ url_for('delete_recipe', task_id=recipe._id) }}">Delete</a>
                            </button>
                        </div><br>
                        <div class="row featurette">
                            {% if loop.index % 2 != 0 %}
                        
                            <div class="col-md-7">
                                <h5>Category:</h5>
                                <p>
                                    <i class="fas fa-fire"></i> {{recipe.recipe_type}}<br>
                                </p><br>
                                <h5>Cuisine:</h5>
                                <p>
                                    <i class="fab fa-free-code-camp"></i> {{recipe.recipe_cuisine}}<br>
                                </p><br>
                                <h5>Ingredient:</h5>
                                <p>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_1}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_2}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_3}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_4}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_5}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_6}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_7}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_8}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_9}}<br>
                                </p><br>
                                <h5>Method:</h5>
                                <p>
                                    <i class="fas fa-check"></i> {{recipe.method_1}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_2}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_3}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_4}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_5}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_6}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_7}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_8}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_9}}<br>
                                </p><br>
                                <p>
                                    <h5>Date of Creation:</h5> {{ recipe.create_on }}</p><br>
                                <p>
                                    <h5>Time for Preparation:</h5> {{ recipe.prep_time }}</p><br>
                                <p>
                                    <h5>Time for Cooking:</h5> {{ recipe.cook_time }}</p><br>
                            </div>
                            <div class="col-md-5">
                                <img class="featurette-image img-fluid" src="{{ recipe.recipe_image }}">
                            </div>
                            
                            <br> 
                            
                            {% else %}
                            
                            <div class="col-md-5">
                                <img class="featurette-image img-fluid" src="{{ recipe.recipe_image }}">
                            </div><br>
                            <div class="col-md-7">
                                <h5>Category:</h5>
                                <p>
                                    <i class="fas fa-fire"></i> {{recipe.recipe_type}}<br>
                                </p><br>
                                <h5>Cuisine:</h5>
                                <p>
                                    <i class="fab fa-free-code-camp"></i> {{recipe.recipe_cuisine}}<br>
                                </p><br>
                                <h5>Ingredient:</h5>
                                <p>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_1}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_2}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_3}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_4}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_5}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_6}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_7}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_8}}<br>
                                    <i class="fas fa-angle-double-right"></i> {{recipe.ingredient_9}}<br>
                                </p><br>
                                <h5>Method:</h5>
                                <p>
                                    <i class="fas fa-check"></i> {{recipe.method_1}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_2}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_3}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_4}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_5}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_6}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_7}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_8}}<br>
                                    <i class="fas fa-check"></i> {{recipe.method_9}}<br>
                                </p><br>
                                <p>
                                    <h5>Date of Creation:</h5> {{ recipe.create_on }}</p><br>
                                <p>
                                    <h5>Time for Preparation:</h5> {{ recipe.prep_time }}</p><br>
                                <p>
                                    <h5>Time for Cooking:</h5> {{ recipe.cook_time }}</p><br>
                            </div>
                        
                            {% endif %}
                        </div>
                    </span>
                </div>
            </li>
        </ul>

    {% endfor %}

    <br>
    
    <!--List of added RECIPE CATEGORIES-->
    <ul class="collapsible col-12">
        <li>
            <div class="collapsible-header">
                <h5>List of <span class="admin-category-thumb">Categories</span></h5>
            </div>
    
            <div class="collapsible-body">
                {% for cate in category %}
                <div>
                    
                    <!--A Button to EDIT category through 'edit_category' route-->
                    <button type="button" class="btn waves-effect waves-light">
                        <a href ="{{ url_for('edit_category', cat_id=cate._id) }}">
                            Edit
                        </a>
                    </button>
    
                    <!--A Button to DELETE category through 'delete_category' route-->
                    <button type="button" class="btn btn-danger">
                        <a href ="{{ url_for('delete_category', cat_id=cate._id) }}">
                            Delete
                        </a>
                    </button>
                    {{cate.category_name}}
                </div>
                <br> 
                {% endfor %}
            </div>
        </li>
    </ul>

    <br>
    
    <!--List of added RECIPE CUISINES-->
    <ul class="collapsible col-12">
        <li>
            <div class="collapsible-header">
                <h5>List of <span class="admin-cuisine-thumb">Cuisines</span></h5>
            </div>
            <div class="collapsible-body">
                {% for cuisine in cuisines_list %}
                <div>
                    
                    <!--A Button to EDIT cuisine through 'edit_cuisine' route-->
                    <button type="button" class="btn waves-effect waves-light">
                        <a href ="{{ url_for('edit_cuisine', cus_id=cuisine._id) }}">
                            Edit
                        </a>
                    </button>
                    
                    <!--A Button to DELETE cuisine through 'delete_cuisine' route-->
                    <button type="button" class="btn btn-danger">
                        <a href ="{{ url_for('delete_cuisine', cus_id=cuisine._id) }}">
                            Delete
                        </a>
                    </button> 
                    {{cuisine.cuisine_name}}
                </div>
                <br> 
                {% endfor %}
            </div>
        </li>
    </ul>

    <!--A red button floating at right bottom corner of thre screen-->
    <div class="fixed-action-btn">
        <a href="#top-page" class="btn-floating red card-top">
            Top
        </a>
    </div>

{% endblock %}